/**
 * The Letter theme for Pico CMS
 * Authors-specific styles
 *
 * @author Guillaume Litaudon
 * @link http://www.username1litaudon.fr/
 */

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic|Lato:400,400italic,700);

/**
 * Username1
 */
@import url(http://fonts.googleapis.com/css?family=Bad+Script);

.author.username1 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size:1.1em;
}

.author.username1 footer p {
	font-family:"Bad Script", cursive;
}

/**
 * Username2
 */

/* Doesn't work on Firefox… */
/*@import url(http://fonts.googleapis.com/css?family=Cedarville+Cursive);*/

@font-face {
  font-family: 'Cedarville Cursive';
  font-style: normal;
  font-weight: 400;
  src: local('Cedarville Cursive'), local('Cedarville-Cursive'), url(https://fonts.gstatic.com/s/cedarvillecursive/v6/cuCe6HrkcqrWTWTUE7dw-9c3lOkTc1IrfN1zKaob-SQ.woff2) format('woff2'), url(https://fonts.gstatic.com/s/cedarvillecursive/v6/cuCe6HrkcqrWTWTUE7dw-5zpMnghKP_wiJrQSyqob5U.woff) format('woff');
}


.author.username2 {
	font-family: "Merriweather", "Times New Roman", serif;
	font-weight: 400;
}

.author.username2 p,
.author.username2 li,
.author.username2 table,
.author.username2 a:hover,
.author.username2 a:focus {
	color:#204A87;
}

.author.username2 blockquote,
.author.username2 pre, 
.author.username2 code,
.author.username2 a,
.author.username2 a:visited {
	color: #3465A4;
}

.author.username2 h1,
.author.username2 h2,
.author.username2 h3,
.author.username2 h4,
.author.username2 h5,
.author.username2 h6 {
	font-family:"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#204A87;
}

.author.username2 footer p {
	font-family:"Cedarville Cursive", cursive;
	color: #3465A4;
}

.author.username2 header p {
	color: #3465A4;
}